<div class="main-background"></div>
<h1>
    Vos Listes
</h1>
<div class="cards">
    {% for list in lists %}
        <div class="card">
            <div class="card-header">{{ list[0]['ename'] }}</div>
            <div class="in-card">
                <div class="card-body">
                    <p class="card-title">{{ list[0]['lname'] }}</p>
                    <p class="card-date">{{ list[0]['limit_date'] }}</p>
                    <p class="card-description">{{ list[0]['ldescription'] }}</p>
                </div>
                <div class="gift-list">
                    {% for i in 0..3 %}
                        <p>{{ list[i]['aname'] }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">Créer une liste</div>
        <div class="in-card-add">
            <a href="/list/user/lists/addList" title="Ajout"><img src="/assets/images/icone_ajout.png" alt="icone_ajout"/></a>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
